<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
	<th:block th:replace="@{layout/mainLoadingBar.html} :: loadingBar"></th:block>

	<div id="wrapper">
		<th:block th:replace="@{layout/mainHeader.html} :: header"></th:block>
		<th:block th:replace="@{layout/mainLeftSidebar.html} :: sidebar"></th:block>
		<th:block th:replace="@{layout/contentDataTable.html} :: dataTable"></th:block>

		<div class="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="@{layout/contentHeader.html} :: contentHeader('Detail','Board management','board','','')"></th:block>

				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="card-title">Board > Detail</div>
								<hr>
								<form id="put_boardForm">

									<div class="form-group">
										<input type="hidden" id="put_board_id" name="id" th:value="${boardDetail.id}">
									</div>

									<div class="form-group">
										<label for="put_boardType">Board type</label>
										<select class="form-control single-select" id="put_boardType" name="boardType">
											<option th:each="item : ${boardTypeList}" th:value="${item}" th:text="${item}"></option>
										</select>
									</div>

									<div class="form-group">
										<label for="put_contentType">Content type</label>
										<select class="form-control single-select" id="put_contentType" name="contentType">
											<option th:each="item : ${contentTypeList}" th:value="${item}" th:text="${item}"></option>
										</select>
									</div>

									<div class="form-group">
										<label for="put_title">Title</label>
										<input type="text" class="form-control" id="put_title" name="title" th:value="${boardDetail.title}">
									</div>

									<div class="form-group">
										<label for="put_content">Content</label>
										<textarea rows="10" class="form-control" id="put_content" name="content" th:text="${boardDetail.content}"></textarea>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-success" ><i class="fa fa-check-square-o"></i>Save</button>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<ul class="nav nav-tabs nav-tabs-info nav-justified">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#comment"><i class="icon-home"></i> <span class="hidden-xs">board comment</span></a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">

									<div id="comment" class="container tab-pane active">
										<div class="row">
											<div class="col-lg-12">
												<div class="card">
													<div class="card-header">
														<i class="fa fa-table"></i> Board > Comment
													</div>
													<div class="card-body">
														<div class="table-responsive">
															<table id="commentGrid" class="table table-bordered display modal-grid"></table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div class="modal fade" id="post_comment">
			<div class="modal-dialog modal-custom">
				<div class="modal-content slideInUp">
					<div class="modal-header">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="post_commentForm">
						<div class="modal-body">
							<div class="form-group">
								<label for="post_comment_type">Comment type</label>
								<select class="form-control single-select" id="post_comment_type" name="comment_type">
									<option th:each="item : ${commentTypeList}" th:value="${item}" th:text="${item}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="post_content">Content</label>
								<textarea rows="10" class="form-control" id="post_content" name="content"></textarea>
							</div>
						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ><i class="fa fa-check-square-o"></i>Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<th:block th:replace="@{layout/mainFooter.html} :: footer"></th:block>
		<th:block th:replace="@{layout/mainRightSidebar.html} :: sidebar"></th:block>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function () {
			lozm.func.setDetail("put_", board.detail);

			comment.initGrid();

			$("#put_boardForm").validate({
				submitHandler: function(form) {
					board.put();
				},
				rules: {
					boardType: {
						required: true
					},
					contentType: {
						required: true
					},
					title: {
						required: true
					},
					content: {
						required: true
					},
				},
			});

			$("#post_commentForm").validate({
				submitHandler: function(form) {
					comment.post();
				},
				rules: {
					commentType: {
						required: true
					},
					content: {
						required: true
					},
				},
			});
		});

		var board = {
			detail: /*[[ ${boardDetail} ]]*/ "",
			put: function () {
				lozm.func.requestPut({
					url: /*[[ @{/board} ]]*/ "",
					data: {
						id: $("#put_board_id").val(),
						boardType: $("#put_boardType").val(),
						contentType: $("#put_contentType").val(),
						title: $("#put_title").val(),
						content: $("#put_content").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			getDetail: function () {
				lozm.func.requestGet({
					url: "/board/" + $("#put_board_id").val(),
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.setDetail("put_board_", result.data);
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

		var comment = {
			gridId: "commentGrid",
			selectedRows: [],
			gridTarget: function () {
				return $("#" + comment.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+comment.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       		data: 'id',         		visible: false},
						{title: 'Comment type', 	data: 'commentType',   		width: "20%"},
						{title: 'Flag', 			data: 'flag',   			width: "10%"},
						{title: 'Content',    		data: 'content',     		width: "70%"},
					],
					data: /*[[ ${commentList} ]]*/ "",
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = comment.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) comment.gridTarget().rows().deselect();
								else comment.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$("#post_comment").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = comment.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) comment.delete(_selectedRows);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: "/board/" + $("#put_board_id").val() + "/comment",
					callback: {
						success: function (result) {
							if(result.success) {
								board.getDetail();
								comment.gridTarget().clear().draw();
								comment.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			post: function () {
				lozm.func.requestPost({
					url: /*[[ @{/board/comment} ]]*/ "",
					data: {
						boardId: $("#put_board_id").val(),
						commentType: $("#post_comment_type").val(),
						content: $("#post_content").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								board.getDetail();
								comment.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			delete: function (list) {
				lozm.func.requestDelete({
					url: /*[[ @{/board/comment} ]]*/ "",
					data: {
						list: list
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								board.getDetail();
								comment.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

	</script>
</th:block>
</html>
