<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
	<th:block th:replace="@{layout/mainLoadingBar.html} :: loadingBar"></th:block>

	<div id="wrapper">
		<th:block th:replace="@{layout/mainHeader.html} :: header"></th:block>
		<th:block th:replace="@{layout/mainLeftSidebar.html} :: sidebar"></th:block>
		<th:block th:replace="@{layout/contentDataTable.html} :: dataTable"></th:block>

		<div class="content-wrapper">
			<div class="container-fluid">
				<th:block th:replace="@{layout/contentHeader.html} :: contentHeader('Board','Board management','','','')"></th:block>

				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<i class="fa fa-table"></i> Board
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="boardGrid" class="table table-bordered display">

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="modal fade" id="post_board">
			<div class="modal-dialog">
				<div class="modal-content slideInUp">
					<div class="modal-header">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="post_boardForm">
						<div class="modal-body">
							<div class="form-group">
								<label for="post_board_type">Board type</label>
								<select class="form-control single-select" id="post_board_type" name="board_type">
									<option th:each="item : ${boardTypeList}" th:value="${item}" th:text="${item}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="post_content_type">Content type</label>
								<select class="form-control single-select" id="post_content_type" name="content_type">
									<option th:each="item : ${contentTypeList}" th:value="${item}" th:text="${item}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="post_title">Title</label>
								<input type="text" class="form-control" id="post_title" name="title">
							</div>

							<div class="form-group">
								<label for="post_content">Content</label>
								<textarea rows="10" class="form-control" id="post_content" name="content"></textarea>
							</div>
						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ><i class="fa fa-check-square-o"></i>Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<th:block th:replace="@{layout/mainFooter.html} :: footer"></th:block>
		<th:block th:replace="@{layout/mainRightSidebar.html} :: sidebar"></th:block>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function () {
			board.initGrid();
			board.getGridData();

			$("#post_boardForm").validate({
				submitHandler: function(form) {
					board.post();
				},
				rules: {
					name: {
						required: true
					},
					identifier: {
						required: true
					},
					password: {
						required: true
					},
					type: {
						required: true
					},
				},
				message: {
					name: {
						required: "Name is required.",
					},
					identifier: {
						required: "identifier is required.",
					},
					password: {
						required: "password is required."
					},
					type: {
						required: "type is required."
					},
				},
			});


			$("#put_boardForm").validate({
				submitHandler: function(form) {
					board.put();
				},
				rules: {
					name: {
						required: true
					},
					identifier: {
						required: true
					},
					type: {
						required: true
					},
				},
				message: {
					name: {
						required: "Name is required.",
					},
					identifier: {
						required: "identifier is required.",
					},
					type: {
						required: "type is required."
					},
				},
			});

		});

		var board = {
			gridId: "boardGrid",
			gridTarget: function () {
				return $("#" + board.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+board.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',               	data: 'id',             	visible: false},
						{title: 'boardType', 			data: 'boardType', 			width: "10%"},
						{title: 'contentType', 			data: 'contentType', 		width: "10%"},
						{title: 'title', 				data: 'title', 				width: "20%"},
						{title: 'content', 				data: 'content', 			width: "60%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = board.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) board.gridTarget().rows().deselect();
								else board.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$("#post_board").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = board.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								lozm.func.movePage("/manage/board/" + _selectedRows[0].id);
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = board.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}

								if(confirm("Are you sure to delete the data?")) board.delete(_selectedRows);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: /*[[ @{/board/boardType/ALL} ]]*/ "",
					callback: {
						success: function (result) {

							if(result.success) {
								board.gridTarget().clear().draw();
								board.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			post: function () {
				lozm.func.requestPost({
					url: /*[[ @{/board} ]]*/ "",
					data: {
						boardType: $("#post_board_type").val(),
						contentType: $("#post_content_type").val(),
						title: $("#post_title").val(),
						content: $("#post_content").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								board.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			delete: function (list) {
				lozm.func.requestDelete({
					url: /*[[ @{/board} ]]*/ "",
					data: {
						list: list
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								board.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

	</script>
</th:block>
</html>
