<th:block th:fragment="chatting()" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <script th:src="@{/libs/inspinia/js/socket/sockjs.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/socket/stomp.min.js}"></script>

    <script type="text/javascript">
        var chatting = {
            stomp: null,
            messageArea: null,
            connect: function (_messageArea, _topic) {
                chatting.stomp = Stomp.over(new SockJS("http://127.0.0.1:8888/lozm-chat"));
                chatting.stomp.connect({}, function (_frame) {
                    chatting.setConnected(_messageArea);
                    chatting.stomp.subscribe('/topic/' + _topic, function (_chat) {
                        chatting.displayMessage(JSON.parse(_chat.body));
                    });
                });
            },
            disconnect: function (_messageArea) {
                if (chatting.stomp !== null) {
                    chatting.stomp.disconnect();
                }
                chatting.setConnected(_messageArea);
            },
            displayMessage: function (_result) {
                $(chatting.messageArea).append(
                    "<li>" +
                    "  <div class='dropdown-messages-box'>" +
                    "    <a class='dropdown-item float-left'>" +
                    "      <img class='rounded-circle' th:src='@{/images/agent.png}'/>" +
                    "    </a>" +
                    "    <div class='media-body'>" +
                    "      <div class='media-body'>" +
                    "        <small class='float-right text-navy'>"+_result.sendDateTime+"</small>" +
                    "        <strong>"+_result.writer+"</strong><br>" +
                    "        <small class='text-muted'>"+_result.message+"</small>" +
                    "      </div>" +
                    "    </div>" +
                    "  </div>" +
                    "</li>" +
                    "<li class='dropdown-divider'></li>"
                );
            },
            setConnected: function (_messageArea) {
                $(_messageArea).html("");
                chatting.messageArea = _messageArea;
            },
            sendMessage: function (_topic, _writer, _messageId) {
                chatting.stomp.send('/publish/chat/message'
                    , {}
                    , JSON.stringify({
                        topic: _topic
                        , writer: _writer
                        , message: $(_messageId).val()
                    })
                );

                $(_messageId).val("");
            },
        };

        // $(document).ready(function() {
        //     $("form").on('submit', function (e) {
        //         e.preventDefault();
        //     });
        // });
    </script>

</th:block>