<th:block th:fragment="dataTable" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!--========================== CSS ==========================-->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/inspinia/css/plugins/dataTables/datatables.min.css}" />
    <!--========================== CSS ==========================-->

    <!--========================== JS ==========================-->
    <script th:src="@{/libs/inspinia/js/plugins/dataTables/datatables.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>
    <!--========================== JS ==========================-->

</th:block>