<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>LOZM Platform - Admin</title>

    <th:block th:replace="@{layout/default.html} :: default"></th:block>
</head>

<body class="bg-theme bg-theme9">
    <th:block layout:fragment="content"></th:block>
    <th:block layout:fragment="customScript"></th:block>
</body>

</html>