<th:block th:fragment="sidebar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu sidebar-menu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="rounded-circle" th:src="@{/images/agent.png}" th:style="'width: 48px;'"/>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold" id="leftUserName">David Williams</span>
                            <span class="text-muted text-xs block"><span id="leftIdentifier">Art Director</span> <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" onclick="lozm.func.signOut()"><i class="fa fa-power-off"></i>  Sign out</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        KT is
                    </div>
                </li>

                <li class="menu-title">
                    <a href="#"><i class="fa fa-database"></i> <span class="nav-label">통계데이터 관리 </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse sidebar-submenu">
                        <li><a href="/pages/statistics/voc/five">VOC 5등급</a></li>

                        <li>
                            <a href="#">허수콜 유발자 <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level sidebar-submenu">
                                <li><a href="/pages/statistics/emergency/shutDown">긴급 종료</a></li>
                                <li><a href="/pages/statistics/fake/call/block">이용 차단</a></li>
                            </ul>
                        </li>

                        <li><a href="/pages/statistics/kt/daily/result">KT 내부 매월 중점 관리</a></li>
                    </ul>
                </li>

                <li class="menu-title">
                    <a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">IVR 관리 </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/pages/ivr/default/config">기본 설정</a></li>
                        <li><a href="/pages/vvb/register/ment">멘트 등록</a></li>
                        <li><a href="/pages/vvb/set/ment">멘트 설정</a></li>

                        <li>
                            <a href="">인사말 멘트 설정 <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a href="/pages/default/agent/greeting">기본 설정</a></li>
                                <li><a href="/pages/agent/greeting">상담사별 설정</a></li>
                            </ul>
                        </li>

                        <li><a href="/pages/schedule/ment">멘트 스케줄 관리</a></li>
                    </ul>
                </li>

                <li class="menu-title">
                    <a href="#"><i class="fa fa-phone"></i> <span class="nav-label">차단번호 관리 </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/pages/block/customer">발신번호 차단</a></li>
                        <li><a href="/pages/block/promotion">홍보멘트 차단</a></li>
                        <li><a href="/pages/block/additional/service">부가서비스 차단</a></li>
                    </ul>
                </li>

                <li class="menu-title">
                    <a href="#"><i class="fa fa-phone"></i> <span class="nav-label">안내번호 관리 </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/pages/emergency/telNumber">긴급번호</a></li>
                    </ul>
                </li>

                <li class="menu-title">
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">시스템 관리 </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/pages/manage/menu/code">화면 메뉴코드</a></li>
                        <li><a href="/pages/manage/common/code">공통코드</a></li>
                        <li><a href="/pages/manage/skill/telNumber">발신번호 큐 설정</a></li>
                        <li><a href="/pages/manage/admin">로그인 계정</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>



    <script type="text/javascript">
        $(document).ready(function() {
            $("#leftUserName").text(lozm.func.getUserInfoFromJwt().name);
            $("#leftIdentifier").text(lozm.func.getUserInfoFromJwt().id);
        });
    </script>

</th:block>

