<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>LOZM Platform - Admin</title>

    <th:block th:replace="@{layout/default.html} :: default"></th:block>
</head>

<body class="">
    <div id="wrapper">
        <th:block th:replace="@{layout/mainLeftSidebar.html} :: sidebar"></th:block>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <th:block th:replace="@{layout/mainHeader.html} :: header"></th:block>
            </div>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>This is main title</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">This is</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Breadcrumb</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-8">
                    <div class="title-action">
                        <a href="" class="btn btn-primary">This is action area</a>
                    </div>
                </div>
            </div>

            <div class="wrapper wrapper-content">
                <th:block layout:fragment="content"></th:block>
            </div>

            <th:block th:replace="@{layout/mainFooter.html} :: footer"></th:block>
        </div>
    </div>
</body>

<th:block layout:fragment="customScript"></th:block>

</html>