<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
    <th:block th:replace="@{layout/mainLoadingBar.html} :: loadingBar"></th:block>

    <div id="wrapper">

        <div class="card-authentication2 mx-auto my-5">
            <div class="card-group">
                <div class="card mb-0" th:style="'background-image:url(' + @{/images/contract.jpg} + '); background-repeat: no-repeat; background-size: cover; background-position: center; height: 600px;'">
                    <div class="card-img-overlay rounded-left my-5">

                    </div>
                </div>

                <div class="card mb-0 ">
                    <div class="card-body">
                        <div class="card-content p-3">
<!--                            <div class="text-center">-->
<!--                                <img th:src="@{/libs/dashtreme/vertical-layout/assets/images/logo-icon.png}" alt="logo icon">-->
<!--                            </div>-->
                            <div class="card-title text-uppercase text-center py-3">Sign In</div>
                            <form id="post_signForm">
                                <div class="form-group">
                                    <div class="position-relative has-icon-left">
                                        <label for="post_identifier" class="sr-only">Username</label>
                                        <input type="text" class="form-control" placeholder="Username" id="post_identifier" name="identifier">
                                        <div class="form-control-position">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="position-relative has-icon-left">
                                        <label for="post_password" class="sr-only">Password</label>
                                        <input type="password" class="form-control" placeholder="Password" id="post_password" name="password">
                                        <div class="form-control-position">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="form-row mr-0 ml-0">
                                <div class="form-group col-6">
                                    <div class="icheck-material-white">
                                        <input type="checkbox" id="user-checkbox" checked="" />
                                        <label for="user-checkbox">Remember me</label>
                                    </div>
                                </div>
                                <div class="form-group col-6 text-right">
                                    <a href="authentication-reset-password2.html">Reset Password</a>
                                </div>
                            </div>

                            <button type="button" class="btn btn-light btn-block waves-effect waves-light" onclick="sign.submit()">Sign In</button>
                            <div class="text-center pt-3">

                                <div class="form-row mt-4">
                                </div>

                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>

        <th:block th:replace="@{layout/mainRightSidebar.html} :: sidebar"></th:block>
    </div>

</th:block>

<th:block layout:fragment="customScript">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#post_signForm").validate({
                rules: {
                    identifier: {
                        required: true,
                    },
                    password: {
                        required: true,
                    },
                },
                message: {
                    identifier: {
                        required: "Identifier is required.",
                    },
                    password: {
                        required: "Password is required.",
                    },
                },
            });
        });

        var sign = {
            submit: function () {
                lozm.func.requestPost({
                    url: /*[[ @{/api/sign/in} ]]*/ ""
                    , data: {
                        identifier: $("#post_identifier").val(),
                        password: $("#post_password").val()
                    }
                    , callback: {
                        success: function (result) {
                            if(result.success) {
                                lozm.func.insertJwt(result.data.token);
                                location.href = result.data.previousPage;
                            } else {
                                lozm.func.alertFail();
                            }
                        }, error: function (xhr, status, error) {
                            console.log(xhr);
                            console.log(status);
                            console.log(error);
                        }
                    }
                });
            }
        };
    </script>
</th:block>

</html>