<th:block th:fragment="chatting()" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <script th:src="@{/script/sockjs.min.js}"></script>
    <script th:src="@{/script/stomp.min.js}"></script>

    <script type="text/javascript">
        var chatting = {
            stomp: null,
            messageArea: null,
            connect: function (_messageArea, _topic) {
                chatting.stomp = Stomp.over(new SockJS("http://127.0.0.1:8083/lozm-chat"));
                chatting.stomp.connect({}, function (_frame) {
                    chatting.setConnected(_messageArea);
                    chatting.stomp.subscribe('/topic/' + _topic, function (_chat) {
                        chatting.displayMessage(JSON.parse(_chat.body));
                    });
                });
            },
            disconnect: function (_messageArea) {
                if (chatting.stomp !== null) {
                    chatting.stomp.disconnect();
                }
                chatting.setConnected(_messageArea);
            },
            displayMessage: function (_result) {
                $(chatting.messageArea).append(
                    "<li class='list-group-item'>" +
                    "  <a href='javaScript:void();'>" +
                    "    <div class='media'>" +
                    "      <div class='avatar'><img class='align-self-start mr-3' src='https://via.placeholder.com/110x110' alt='account avatar'></div>" +
                    "      <div class='media-body'>" +
                    "        <h6 class='mt-0 msg-title'>"+_result.writer+"</h6>" +
                    "        <p class='msg-info'>"+_result.message+"</p>" +
                    "        <small>"+_result.sendDateTime+"</small>" +
                    "       </div>" +
                    "     </div>" +
                    "  </a>" +
                    "</li>"
                );
            },
            setConnected: function (_messageArea) {
                $(_messageArea).html("");
                chatting.messageArea = _messageArea;
            },
            sendMessage: function (_topic, _writer, _messageId) {
                chatting.stomp.send('/publish/chat/message'
                    , {}
                    , JSON.stringify({
                        topic: _topic
                        , writer: _writer
                        , message: $(_messageId).val()
                    })
                );

                $(_messageId).val("");
            },
        };

        // $(document).ready(function() {
        //     $("form").on('submit', function (e) {
        //         e.preventDefault();
        //     });
        // });
    </script>

</th:block>